
			<footer>

				<p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}</p>

			</footer>

		</div> <!-- .content -->

	</div><!-- .container -->

	<div class="sidebar">

		<div class="sidebar-responsiveBar clearfix">
			<button id="js-show-nav"><span></span></button>
		</div>


		<div class="sidebar-logo">
			<a href="{{ paths.root }}"><img src="{{ paths.theme }}img/logo.png" alt=""></a>
		</div>
		
		<nav>

			<ul class="list--reset list--vNav">

				{{ menu('main', '_sub_menu.twig') }}
			
			</ul>

		</nav>

		{% include '_sub_searchbox.twig' %}

		{% include '_aside.twig' %}

	</div><!-- .sidebar -->

	<script src="{{ paths.theme }}js/jquery-2.1.0.min.js"></script>

	<script src="{{ paths.theme }}js/libs/magnific/jquery.magnific-popup.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ paths.theme }}js/libs/magnific/magnific-popup.css">

	<script src="{{ paths.theme }}js/libs/pogo-slider/jquery.pogo-slider.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ paths.theme }}js/libs/pogo-slider/pogo-slider.min.css">

	<script src="{{ paths.theme }}js/script.js"></script>

</body>
</html>