<div class="recordFooter">

	<h5>

		{% if record.editlink() %}
			<span class="edit-link"><a href="{{ record.editlink() }}"><strong>Edit</strong></a></span> -
		{% endif %}
		
		{% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
		{{ __('By <b>%name%</b> on %date%',{ '%name%': record.user.displayname, '%date%': recdate }) }} <br>

	</h5>

	<ul class="list--reset">

		{% for type, values in record.taxonomy %}

			<li>

				<h5>

					<em>
						{% if values|length < 2 %}
							{{ config.get('taxonomy')[type].singular_name }}:
						{% else %}
							{{ config.get('taxonomy')[type].name }}:
						{% endif %}
					</em>
					
					{% for link, value in values %}
						<a href="{{ link }}">{{ value }}</a>
						{% if not loop.last %}, {% endif %}
						{% else %}
						{{ __('none') }}
					{% endfor %}

				</h5>

			</li>

		{% endfor %}

	</ul>

</div><!-- .recordFooter -->