{% include '_header.twig' %}

	<h1>{{ record.name }}</h1>

	<div class="content" role="content">

		<div  id="js-location-map" class="fullWidthTop"></div>

		<p>
			{{ record.description }}
		</p>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqWYh9zvahd8okEuU4X21co23vMcO23LM"></script>

		<script>

			var map = new google.maps.Map(document.getElementById('js-location-map'),{
				center: { lat: {{ record.location.latitude }}, lng: {{ record.location.longitude }}},
				zoom: 15
			});

			var marker = new google.maps.Marker({
				position: { lat: {{ record.location.latitude }}, lng: {{ record.location.longitude }}},
				map: map,
				title: '{{ record.location.address }}',
				icon: '{{ paths.theme }}img/marker.png'
			});

			/*
			var infowindow = new google.maps.InfoWindow({
				content: '<h3>{{ record.location.address }}</h3>'
			});
			*/

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});

		</script>

{% include '_footer.twig' %}