{% include "_header.twig" %}

	{% if taxonomytype is defined %}
		<h1>
			{{ __("Overview for") }}
			{% if taxonomy.options[slug] is defined %}
				{{ taxonomy.options[slug] }}
			{% else %}
				{{ slug }}
			{% endif %}
		</h1>
		
		{% set records = records|order(app.config.get("general/listing_sort")) %}
	
	{% endif %}

	<div class="content p-galleryListing" role="content">

		{% for record in records %}

			<article>

				<h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

				<ul class="listGrid-small2 listGrid-medium4 listGrid-large5 imageGrid">

					{% for image in record.imagelist %}

						<li>
							<a href="{{ image(image.filename) }}">
								<img src="{{ thumbnail(image.filename, 300, 300) }}" title="{{ image.title }}">
							</a>
						</li>

					{% endfor %}

				</ul>

			</article>

		{% endfor %}

		{{ pager() }}

{% include "_footer.twig" %}