{% include "_header.twig" %}

	<div class="content p-home" role="content">

		<div class="fullWidthTop">
			
			{% include "_slider.twig" %}

		</div>

		<h2>{{ __("Latest entries") }}</h2>

		{% setcontent records = "entries/latest/6" allowpaging %}
		
		<div class="grid gridListing">

			{% for record in records %}
			
				{% if (loop.index - 1) % 3 == 0 %}

					<div class="small12 medium4">

				{% endif %}

				<article>

					<h3><a href="{{ record.link }}">{{ record.title }}</a></h3>

					{% if record.image!="" %}
						<a href="{{ record.link }}">
							<img src="{{ record.image|thumbnail(400, 200) }}" title="{{ image.title }}">

						</a>
					{% endif %}

					<p>{{ record.excerpt(300) }} <a href="{{ record.link }}">more</a></p>

					{% include "_recordfooter.twig" with {record: record} %}

				</article>

				{% if loop.index % 3 == 0 or loop.index == loop.length %}

					</div>

				{% endif %}

			{% endfor %}

		</div>

		{{ pager() }}

{% include "_footer.twig" %}