{% include '_header.twig' %}

	{% if taxonomytype is defined %}
		<h1>
			{{ __('Overview for') }}
			{% if taxonomy.options[slug] is defined %}
				{{ taxonomy.options[slug] }}
			{% else %}
				{{ slug }}
			{% endif %}
		</h1>
		
		{% set records = records|order(app.config.get('general/listing_sort')) %}
	
	{% endif %}

	<div class="content p-listing p-newsListing newsListing" role="content">

		{% if search is defined %}
			<h1>
				{{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}
			</h1>
		{% endif %}
		
		<div class="grid">

			{% for record in records %}
			

				{% if (loop.index - 1) % 3 == 0 %}

					<div class="small12 medium4">

				{% endif %}

					<article>

						<h3><a href="{{ record.link }}">{{ record.title }}</a></h3>

						{% if record.image!="" %}
							<a href="{{ record.link }}">
								<img src="{{ record.image|thumbnail(400, 200) }}" title="{{ image.title }}">

							</a>
						{% endif %}

						{% include '_record_info.twig' with {record: record} %}

						<p>{{ record.excerpt(300) }} <a href="{{ record.link }}">more</a></p>

					</article>

				{% if loop.index % 3 == 0 or loop.index == loop.length %}

					</div>

				{% endif %}

			{% else %}

				<article class="small12">

					{% if search is defined %}

						<p>
							{{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}
						</p>

					{% else %}

					<h2>No content found.</h2>

					<p>
						Unfortunately, no content could be found. Try another page, or go to the
						<a href="{{ paths.root }}">homepage</a>.
					</p>

					{% endif %}

				</article>
			
		{% endfor %}

	</div><!-- .grid -->

	{{ pager() }}

{% include '_footer.twig' %}