{% include '_header.twig' %}

	<h1>{{ record.title }}</h1>

	<div class="content p-news" role="content">

		{% if record.image!="" %}
			<div class="fullWidthTop">	
				<a href="{{ image(record.image) }}">
					<img class="image--fullWidth" src="{{ record.image|thumbnail(1200,400) }}" title="{{ image.title }}">
				</a>
			</div>
		{% endif %}

		{% include '_record_info.twig' with {record: record} %}

		<p>{{ record.text }}</p>

{% include '_footer.twig' %}