{% include '_header.twig' %}

	<h1>News</h1>

	<div class="content p-newsListing newsListing" role="content">

		<div class="grid">

			{% setcontent news = "news/latest/9" allowpaging %}

			{% for newsItem in news %}

				{% if (loop.index - 1) % 3 == 0 %}

					<div class="small12 medium4">

				{% endif %}

					<article>

						<h3><a href="{{ newsItem.link }}">{{ newsItem.title }}</a></h3>

						{% if newsItem.image!="" %}
							<a href="{{ newsItem.link }}">
								<img src="{{ newsItem.image|thumbnail(400, 200) }}" title="{{ image.title }}">

							</a>
						{% endif %}

						{% include '_record_info.twig' with {record: newsItem} %}

						<p>{{ newsItem.excerpt(300) }} <a href="{{ newsItem.link }}">more</a></p>



					</article>

				{% if loop.index % 3 == 0 or loop.index == loop.length %}

					</div>

				{% endif %}

			{% endfor %}

		</div>

		{{ pager() }}

{% include '_footer.twig' %}