{% include "_header.twig" %}

	<h1>{{ record.title }}</h1>

	<div class="content p-record" role="content">

		<article>

			{% if record.image!="" %}
				<div class="fullWidthTop">	
					<a href="{{ image(record.image) }}">
						<img class="image--fullWidth" src="{{ record.image|thumbnail(1200,400) }}" title="{{ image.title }}">
					</a>
				</div>
			{% endif %}

			{% if record.subtitle %}
				<h3>{{ record.subtitle }}</h3>
			{% endif %}

			{% for key,value in record.values if key not in ["id", "slug", "datecreated", "datechanged", "datepublish", "datedepublish", "username", "status", "title", "subtitle", "ownerid"] %}

				{% if record.fieldtype(key) == "imagelist" and value != "" %}

					{% set list = attribute(record, key) %}

					<ul class="listGrid-small2 listGrid-medium2 listGrid-large5 imageGrid">

						{% for item in list %}

							<li>
								<a href="{{ image(item.filename) }}">
									<img src="{{ thumbnail(item.filename, 200, 200) }}" title="{{ item.title }}">
								</a>
							</li>

						{% endfor %}

					</ul>

				{% elseif record.fieldtype(key) == "video" and value.responsive is defined %}

					{{ value.responsive }}

				{% elseif record.fieldtype(key) == "geolocation" and value.latitude is defined %}

					<div class="googleMap">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;markers={{ value.latitude }},{{ value.longitude }}">

						<p>{{ value.formatted_address }}</p>
					</div>
					

				{% elseif record.fieldtype(key) in ["html", "markdown", "textarea"] %}

					{{ attribute(record, key) }}

				{% elseif record.fieldtype(key) == "select" and value != "" %}

					<p>
						<strong>{{ key }}: </strong>
						{{ attribute(record, key)|join(", ") }}
					</p>

				{% elseif record.fieldtype(key) == "file" and value != "" %}

					<a href="/files/{{ attribute(record, key) }}" target="_blank">{{ attribute(record, key) }}</a>

				{% elseif record.fieldtype(key) == "filelist" and value != "" %}

					{% set list = attribute(record, key) %}

					<ul>

						{% for item in list %}
							<li><a href="/files/{{ item.filename }}" target="_blank">{{ item.filename }}</a></li>
						{% endfor %}

					</ul>

				{% elseif record.fieldtype(key) not in ["templateselect"] and record.fieldtype(key) != "image" and value != "" %}

					<p>
						<strong>{{ key }}: </strong>
						{{ attribute(record, key) }}
					</p>

				{%  endif %}

			{% endfor %}

			{% include "_recordfooter.twig" with {record: record} %}

			<div class="p-record-dir clearfix">

				{% set previous = record.previous("id") %}
				{% if previous %}
					<a href="{{ previous.link }}" class="p-record-previous">&laquo; {{ previous.title }}</a>
				{% endif %}

				{% set next = record.next("id") %}
				{% if next %}
					<a href="{{ next.link }}" class="p-record-next">{{ next.title }} &raquo;</a>
				{% endif %}

			</div>

			{% set relatedrecords = record.related() %}

			{% if relatedrecords is not empty %}

				<h3>{{ __("Related content:") }}</h3>
					
				<ul class="listGrid-small2 listGrid-medium4 listGrid-large5 p-record-related-list">
					{% for related in relatedrecords %}
						<li>
							<a href="{{ related.link }}">
								<img class="image--fullWidth" src="{{ related.image|thumbnail(300,300) }}" title="{{ image.title }}">
								{{ related.title }}
							</a>
						</li>
					{%  endfor %}
				</ul>

			{% endif %}

		</article>

{% include "_footer.twig" %}