{% include '_header.twig' %}

	<h1>{{ record.title }}</h1>

	<div class="content" role="content">

		<article>

			{% if record.image!="" %}
				<div class="fullWidthTop">	
					<a href="{{ image(record.image) }}">
						<img class="image--fullWidth" src="{{ record.image|thumbnail(1200,400) }}" title="{{ image.title }}">
					</a>
				</div>
			{% endif %}

			{% if record.subtitle %}
				<h3>{{ record.subtitle }}</h3>
			{% endif %}

			{% for key,value in record.values if key not in ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'title', 'subtitle', 'ownerid'] %}

				{% if record.fieldtype(key) == "imagelist" and value != "" %}

					{% set list = attribute(record, key) %}

					<ul class="listGrid-small2 listGrid-medium2 listGrid-large5 imageGrid">

						{% for item in list %}

							<li>
								<a href="{{ image(item.filename) }}">
									<img src="{{ thumbnail(item.filename, 200, 200) }}" title="{{ item.title }}">
								</a>
							</li>

						{% endfor %}

					</ul>

				{% elseif record.fieldtype(key) == "video" and value.responsive is defined %}

					{{ value.responsive }}

				{% elseif record.fieldtype(key) == "geolocation" and value.latitude is defined %}

					<div>
						<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;markers={{ value.latitude }},{{ value.longitude }}">
					</div>
					<p>{{ value.formatted_address }}</p>

				{% elseif record.fieldtype(key) in ['html', 'markdown', 'textarea'] %}

					{{ attribute(record, key) }}

				{% elseif record.fieldtype(key) == "select" %}

					<p>
						<strong>{{ key }}: </strong>
						{{ attribute(record, key)|join(", ") }}
					</p>

				{% elseif record.fieldtype(key) not in ['templateselect'] and record.fieldtype(key) != "image" and value != "" %}

					<p>
						<strong>{{ key }}: </strong>
						{{ attribute(record, key) }}
					</p>

				{%  endif %}

			{% endfor %}

			{% include '_record_info.twig' with {record: record} %}

			<p>
				{% set previous = record.previous('id') %}
				{% if previous %}
					<a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
				{% endif %}
				-
				{% set next = record.next('id') %}
				
				{% if next %}
					<a href="{{ next.link }}">{{ next.title }} &raquo;</a>
				{% endif %}
			</p>

			{% set relatedrecords = record.related() %}
			
			{% if relatedrecords is not empty %}
				
				<p>{{ __('Related content:') }}
					<ul>
						{% for related in relatedrecords %}
							<li><a href="{{ related.link }}">{{ related.title }}</a></li>
						{%  endfor %}
					</ul>
				</p>
			
			{% endif %}

		</article>

{% include '_footer.twig' %}